.Navbar {
    background-color: var(--primary-text-color);
    height: 80px;
    z-index: 99;
    color: white;
    text-transform: uppercase;
    position: sticky;
    top: 0;
margin: 0;
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .nav-left {
            .link-group {
                list-style: none;
                display: flex;
                gap: 16px;

                .link {
                    display: inline-block;
                    padding: 6px;
                }
            }
        }

        .nav-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--primary-text-color);
         
            .banner {
                color: white;
                .pi{
                  font-size: 1.6rem;
                  transition: transform .7s ease-in-out;
                }
                .pi:hover{
                    transform: rotate(360deg);
                }
            }
        }
        // .search-bar{
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
            
        // }

        .nav-right {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn
            {
                color: white;
                padding: 12px;
                margin: 12px;
                border: 1px;
                border-radius: 2rem;
                background-color: var(--accent-color);
            }

            .nav-cart {
                position: relative;
                padding: 6px;
                .icon {
                    font-size: 1.4rem;
                }
                .cart-count {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    top: -4px;
                    right: -2px;
                    background-color: var(--accent-color);
                    color: white;
                    font-size: 0.6rem;
                    border-radius: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Navbar {
        .nav-container {

            .nav-left {
                display: none;
            }

            .nav-center {
                position: static;
                transform: translateX(0);
            }
    
        }
    }
    
}